{% extends 'index_template.html' %}
{% load static %}
{% load common_tags %}
{% block content %}
<br>
  <row>
    <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">系统用户列表</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
             {% paginate system_user_list 10 %}
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID号</th>
                  <th>名称</th>
                  <th>用户名</th>
                  <th>创建时间</th>
                  <th>描述信息</th>
                  <th>操作</th>
                </tr>
                {% for system_user_obj in  list %}
                  <tr>
                    <td>{{ forloop.counter  }}</td>
                    <td>{{ system_user_obj.name }}</td>
                    <td>{{ system_user_obj.UserName }}</td>
                    <td>{{ system_user_obj.CreateTime }}</td>
                    <td>{{ system_user_obj.description }}</td>
                    <td><a href="{% url 'user:system_user_update' pk=system_user_obj.id %}"><span class="label label-success">修改系统用户</span></a><a href=""><span class="label label-danger">删除系统用户</span></a></td>
                  </tr>
                {% endfor %}
              </table>


            </div>

            <!-- /.box-body -->
          </div>
          {% include 'pagination.html' %}
          <!-- /.box -->
        </div>
  </row>

{% endblock %}